.chatbotJoshButton .button {
  transition: transform 0.5s ease;
}

.chatbotJoshButton .button:hover {
  color: black;
  transform: scale(1.2);
}

.chatbotJoshButton .fade-in {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
}

.chatbotJoshButton .fade-out {
  animation-name: fade-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-out;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
